
#bottom {

}
body {
    paddin:0;
    margin:0;

}
#fps {
    float:left;
}


 html, body {
     padding: 0px;
     margin: 0px;
     width: 100%;
     height: 100%;
     overflow: hidden;
 }
#canvas {
    cursor:url('../resources/images/pointer.gif'),url(''),auto;
   // width: 100%;
   // height: 100%;
}
