
#bottom {

}
body {
    paddin:0;
    margin:0;

}
#fps {
    float:left;
}


 html, body {
     padding: 0px;
     margin: 0px;
     width: 100%;
     height: 100%;
     overflow: hidden;
 }



.matrixdisplay {

    width:500px;
    margin:5px;
    border:1px solid black;
}
.matrixdisplay td {
    width:100px;
}
#canvas {
    float:left;
}

#options {
    color: #ffffff;
    float:left;
}


.soundon {
    background: url('../images/soundon.png') 0 0;
}

.soundoff {
    background: url('../images/soundoff.png') 0 0;
}

.soundoff,.soundon {
    width:128px;
    height:128px;
}
